Connected Services/KullaniciSvc/KullaniciServiceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://webservices.arsivnet.turksat.com.tr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="KullaniciServiceService" targetNamespace="http://webservices.arsivnet.turksat.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.arsivnet.turksat.com.tr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="aksiyonKontrol" type="tns:aksiyonKontrol" />
      <xs:element name="aksiyonKontrolResponse" type="tns:aksiyonKontrolResponse" />
      <xs:element name="dizinYetkiListele" type="tns:dizinYetkiListele" />
      <xs:element name="dizinYetkiListeleResponse" type="tns:dizinYetkiListeleResponse" />
      <xs:element name="dizinYetkisiKontrol" type="tns:dizinYetkisiKontrol" />
      <xs:element name="dizinYetkisiKontrolResponse" type="tns:dizinYetkisiKontrolResponse" />
      <xs:element name="dizinYonetimYetkiGuncelle" type="tns:dizinYonetimYetkiGuncelle" />
      <xs:element name="dizinYonetimYetkiGuncelleResponse" type="tns:dizinYonetimYetkiGuncelleResponse" />
      <xs:element name="dizinYonetimYetkiListele" type="tns:dizinYonetimYetkiListele" />
      <xs:element name="dizinYonetimYetkiListeleResponse" type="tns:dizinYonetimYetkiListeleResponse" />
      <xs:element name="externalKullanicilariListele" type="tns:externalKullanicilariListele" />
      <xs:element name="externalKullanicilariListeleResponse" type="tns:externalKullanicilariListeleResponse" />
      <xs:element name="getMenu" type="tns:getMenu" />
      <xs:element name="getMenuResponse" type="tns:getMenuResponse" />
      <xs:element name="getUserLoggedIn" type="tns:getUserLoggedIn" />
      <xs:element name="getUserLoggedInResponse" type="tns:getUserLoggedInResponse" />
      <xs:element name="getYetkiVermeDurum" type="tns:getYetkiVermeDurum" />
      <xs:element name="getYetkiVermeDurumResponse" type="tns:getYetkiVermeDurumResponse" />
      <xs:element name="isLoggedIn" type="tns:isLoggedIn" />
      <xs:element name="isLoggedInResponse" type="tns:isLoggedInResponse" />
      <xs:element name="kullaniciAktiflikGuncelle" type="tns:kullaniciAktiflikGuncelle" />
      <xs:element name="kullaniciAktiflikGuncelleResponse" type="tns:kullaniciAktiflikGuncelleResponse" />
      <xs:element name="kullaniciArsivMalzemesiYetkiKaldir" type="tns:kullaniciArsivMalzemesiYetkiKaldir" />
      <xs:element name="kullaniciArsivMalzemesiYetkiKaldirResponse" type="tns:kullaniciArsivMalzemesiYetkiKaldirResponse" />
      <xs:element name="kullaniciArsivMalzemesiYetkiVer" type="tns:kullaniciArsivMalzemesiYetkiVer" />
      <xs:element name="kullaniciArsivMalzemesiYetkiVerResponse" type="tns:kullaniciArsivMalzemesiYetkiVerResponse" />
      <xs:element name="kullaniciArsivMalzemesiYetkileriniListele" type="tns:kullaniciArsivMalzemesiYetkileriniListele" />
      <xs:element name="kullaniciArsivMalzemesiYetkileriniListeleResponse" type="tns:kullaniciArsivMalzemesiYetkileriniListeleResponse" />
      <xs:element name="kullaniciDizinUreticiYetkileriniListele" type="tns:kullaniciDizinUreticiYetkileriniListele" />
      <xs:element name="kullaniciDizinUreticiYetkileriniListeleResponse" type="tns:kullaniciDizinUreticiYetkileriniListeleResponse" />
      <xs:element name="kullaniciDizinUreticiYetkisiEkle" type="tns:kullaniciDizinUreticiYetkisiEkle" />
      <xs:element name="kullaniciDizinUreticiYetkisiEkleResponse" type="tns:kullaniciDizinUreticiYetkisiEkleResponse" />
      <xs:element name="kullaniciDizinUreticiYetkisiSil" type="tns:kullaniciDizinUreticiYetkisiSil" />
      <xs:element name="kullaniciDizinUreticiYetkisiSilResponse" type="tns:kullaniciDizinUreticiYetkisiSilResponse" />
      <xs:element name="kullaniciDizinVeDizinUreticiYetkisiGuncelle" type="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelle" />
      <xs:element name="kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse" type="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse" />
      <xs:element name="kullaniciDizinVeDizinUreticiYetkisiListele" type="tns:kullaniciDizinVeDizinUreticiYetkisiListele" />
      <xs:element name="kullaniciDizinVeDizinUreticiYetkisiListeleResponse" type="tns:kullaniciDizinVeDizinUreticiYetkisiListeleResponse" />
      <xs:element name="kullaniciDizinYetkileriniListele" type="tns:kullaniciDizinYetkileriniListele" />
      <xs:element name="kullaniciDizinYetkileriniListeleResponse" type="tns:kullaniciDizinYetkileriniListeleResponse" />
      <xs:element name="kullaniciDizinYetkisiEkle" type="tns:kullaniciDizinYetkisiEkle" />
      <xs:element name="kullaniciDizinYetkisiEkleResponse" type="tns:kullaniciDizinYetkisiEkleResponse" />
      <xs:element name="kullaniciDizinYetkisiGuncelle" type="tns:kullaniciDizinYetkisiGuncelle" />
      <xs:element name="kullaniciDizinYetkisiGuncelleResponse" type="tns:kullaniciDizinYetkisiGuncelleResponse" />
      <xs:element name="kullaniciDizinYetkisiKaldir" type="tns:kullaniciDizinYetkisiKaldir" />
      <xs:element name="kullaniciDizinYetkisiKaldirResponse" type="tns:kullaniciDizinYetkisiKaldirResponse" />
      <xs:element name="kullaniciEkle" type="tns:kullaniciEkle" />
      <xs:element name="kullaniciEkleResponse" type="tns:kullaniciEkleResponse" />
      <xs:element name="kullaniciGiris" type="tns:kullaniciGiris" />
      <xs:element name="kullaniciGirisResponse" type="tns:kullaniciGirisResponse" />
      <xs:element name="kullaniciKlasorYetkisiEkle" type="tns:kullaniciKlasorYetkisiEkle" />
      <xs:element name="kullaniciKlasorYetkisiEkleResponse" type="tns:kullaniciKlasorYetkisiEkleResponse" />
      <xs:element name="kullaniciKlasorYetkisiGuncelle" type="tns:kullaniciKlasorYetkisiGuncelle" />
      <xs:element name="kullaniciKlasorYetkisiGuncelleResponse" type="tns:kullaniciKlasorYetkisiGuncelleResponse" />
      <xs:element name="kullaniciKlasorYetkisiKaldir" type="tns:kullaniciKlasorYetkisiKaldir" />
      <xs:element name="kullaniciKlasorYetkisiKaldirResponse" type="tns:kullaniciKlasorYetkisiKaldirResponse" />
      <xs:element name="kullaniciKurumLogoListele" type="tns:kullaniciKurumLogoListele" />
      <xs:element name="kullaniciKurumLogoListeleResponse" type="tns:kullaniciKurumLogoListeleResponse" />
      <xs:element name="kullaniciTercihGuncelle" type="tns:kullaniciTercihGuncelle" />
      <xs:element name="kullaniciTercihGuncelleResponse" type="tns:kullaniciTercihGuncelleResponse" />
      <xs:element name="kullaniciTercihOku" type="tns:kullaniciTercihOku" />
      <xs:element name="kullaniciTercihOkuResponse" type="tns:kullaniciTercihOkuResponse" />
      <xs:element name="kullanicilariListele" type="tns:kullanicilariListele" />
      <xs:element name="kullanicilariListeleResponse" type="tns:kullanicilariListeleResponse" />
      <xs:element name="logout" type="tns:logout" />
      <xs:element name="logoutResponse" type="tns:logoutResponse" />
      <xs:element name="seciliBirimDegistir" type="tns:seciliBirimDegistir" />
      <xs:element name="seciliBirimDegistirResponse" type="tns:seciliBirimDegistirResponse" />
      <xs:element name="temaDegistir" type="tns:temaDegistir" />
      <xs:element name="temaDegistirResponse" type="tns:temaDegistirResponse" />
      <xs:complexType name="kullaniciKlasorYetkisiEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciKlasorYetkisiEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="ekleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="guncelleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="klasorId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="okuyabilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="silebilir" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceParameter" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailMessage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dtoList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exceptionList" nillable="true" type="tns:exception" />
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element name="total" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="exception">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:throwable">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stackTraceElement" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiEkleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullanicilariListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullanicilariListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullanicilariListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="adSoyad" type="xs:string" />
              <xs:element minOccurs="0" name="blokeDurumu" type="tns:blokeDurumEnum" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
              <xs:element minOccurs="0" name="gecerlilikDurumu" type="tns:gecerlilikDurumuEnum" />
              <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sort" nillable="true" type="tns:sortObject" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
              <xs:element minOccurs="0" name="tcKimlikNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="operator" type="xs:string" />
          <xs:element minOccurs="0" name="property" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="value2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="sortObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" type="xs:string" />
          <xs:element minOccurs="0" name="property" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullanicilariListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullanicilariListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="adSoyad" type="xs:string" />
          <xs:element minOccurs="0" name="birimAdi" type="xs:string" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" name="tcKimlikNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinUreticiYetkisiEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniYetkiId" type="xs:int" />
              <xs:element minOccurs="0" name="degistirme" type="xs:boolean" />
              <xs:element minOccurs="0" name="ekleme" type="xs:boolean" />
              <xs:element minOccurs="0" name="gizlilikDerecesiId" type="xs:int" />
              <xs:element minOccurs="0" name="okuma" type="xs:boolean" />
              <xs:element minOccurs="0" name="silme" type="xs:boolean" />
              <xs:element minOccurs="0" name="varlikId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiEkleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciGiris">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="kullaniciGirisResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciGirisSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="kullanici" type="tns:kullanici" />
          <xs:element minOccurs="0" name="loginToken" type="xs:string" />
          <xs:element minOccurs="0" name="selectedThemeName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullanici">
        <xs:sequence>
          <xs:element minOccurs="0" name="adSoyad" type="xs:string" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="gecerlilikBaslangisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="kullaniciBirimList" nillable="true" type="tns:kullaniciBirim" />
          <xs:element minOccurs="0" name="kullaniciTercih" type="xs:string" />
          <xs:element minOccurs="0" name="secilenBulutKurumId" type="xs:int" />
          <xs:element minOccurs="0" name="secilenKullaniciBirim" type="xs:int" />
          <xs:element minOccurs="0" name="senkronizeEdilemeyenBirimSayisi" type="xs:int" />
          <xs:element name="superUser" type="xs:boolean" />
          <xs:element minOccurs="0" name="tcKimlikNo" type="xs:string" />
          <xs:element name="tokenAuthenticated" type="xs:boolean" />
          <xs:element minOccurs="0" name="yetkiProfili" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciBirim">
        <xs:sequence>
          <xs:element minOccurs="0" name="birim" type="tns:varlik" />
          <xs:element minOccurs="0" name="birimId" type="xs:int" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="varlik">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="parentId" type="xs:int" />
          <xs:element minOccurs="0" name="tipId" type="xs:int" />
          <xs:element minOccurs="0" name="kod" type="xs:string" />
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="kisaAd" type="xs:string" />
          <xs:element minOccurs="0" name="sira" type="xs:int" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="remoteId" type="xs:string" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="belgenetId" type="xs:long" />
          <xs:element minOccurs="0" name="bulutKurumId" type="xs:int" />
          <xs:element minOccurs="0" name="bulutKurumAdi" type="xs:string" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getUserLoggedIn">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getUserLoggedInResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkileriniListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinYetkileriniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkileriniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sort" nillable="true" type="tns:sortObject" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkileriniListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkileriniListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
          <xs:element minOccurs="0" name="arsivPlaniAd" type="xs:string" />
          <xs:element minOccurs="0" name="color" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="path" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="adSoyad" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="birimList" nillable="true" type="tns:authBirimSonucItem" />
              <xs:element minOccurs="0" name="email" type="xs:string" />
              <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
              <xs:element minOccurs="0" name="kullaniciTercih" type="xs:string" />
              <xs:element minOccurs="0" name="sonLoginBirimId" type="xs:long" />
              <xs:element minOccurs="0" name="tcKimlikNo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="authBirimSonucItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="ibkk" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciEkleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKurumLogoListele">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="kullaniciKurumLogoListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKurumLogoListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="kurumAdi" type="xs:string" />
          <xs:element minOccurs="0" name="kurumId" type="xs:int" />
          <xs:element minOccurs="0" name="logoDosyaAdi" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciTercihGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciTercihGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciTercihGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="scanner" type="tns:kullaniciTarayiciTercihModel" />
              <xs:element minOccurs="0" name="themeName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciTarayiciTercihModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="duplex" type="xs:boolean" />
          <xs:element minOccurs="0" name="feeder" type="xs:boolean" />
          <xs:element minOccurs="0" name="goruntuTuru" type="xs:string" />
          <xs:element minOccurs="0" name="mode" type="xs:int" />
          <xs:element minOccurs="0" name="resolution" type="xs:int" />
          <xs:element minOccurs="0" name="scanApi" type="xs:string" />
          <xs:element minOccurs="0" name="skipBlankPages" type="xs:boolean" />
          <xs:element minOccurs="0" name="tarayici" type="xs:string" />
          <xs:element minOccurs="0" name="varsayilanGoruntuTuru" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciTercihGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYetkisiKontrol">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:dizinYetkisiKontrolParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYetkisiKontrolParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="dizinId" type="xs:int" />
              <xs:element minOccurs="0" name="islemTipi" type="tns:islemTipiEnum" />
              <xs:element minOccurs="0" name="malzemeId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinYetkisiKontrolResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="externalKullanicilariListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:listServiceParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="listServiceParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceNoFilterParametre">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="listServiceNoFilterParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sort" nillable="true" type="tns:sortObject" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="externalKullanicilariListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="externalKullanicilariListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="birimSonucItemList" nillable="true" type="tns:authBirimSonucItem" />
          <xs:element minOccurs="0" name="EPosta" type="xs:string" />
          <xs:element minOccurs="0" name="isim" type="xs:string" />
          <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
          <xs:element minOccurs="0" name="sonLoginBirimId" type="xs:long" />
          <xs:element minOccurs="0" name="tcKimlikNo" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkileriniListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinUreticiYetkileriniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkileriniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniYetkiId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkileriniListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkileriniListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="varlikAdi" type="xs:string" />
          <xs:element minOccurs="0" name="varlikId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:dizinYonetimYetkiListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinDahil" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
          <xs:element minOccurs="0" name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:dizinYonetimYetkiGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dizinYonetimYetkiList" nillable="true" type="tns:dizinYonetimYetkiParametre" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiParametre">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinlerDahil" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYonetimYetkiGuncelleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinDahil" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isLoggedIn">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="isLoggedInResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYetkiListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:dizinYetkiListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYetkiListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceNoFilterParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="birimId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="planId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinYetkiListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinYetkiListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinDahil" type="xs:boolean" />
          <xs:element minOccurs="0" name="degistirme" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="ekleme" type="xs:boolean" />
          <xs:element minOccurs="0" name="gizlilikDerecesiId" type="xs:int" />
          <xs:element minOccurs="0" name="okuma" type="xs:boolean" />
          <xs:element minOccurs="0" name="silme" type="xs:boolean" />
          <xs:element minOccurs="0" name="sorgulama" type="xs:boolean" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinYetkisiGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiGuncelleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getYetkiVermeDurum">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciYetkiDurumParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciYetkiDurumParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="lastRequest" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="getYetkiVermeDurumResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="aksiyonKontrol">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="aksiyonKontrolResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiKaldir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinYetkisiKaldirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiKaldirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiKaldirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiKaldirSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="temaDegistir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:temaDegistirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="temaDegistirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="themeName" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="temaDegistirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiKaldir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciKlasorYetkisiKaldirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiKaldirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="klasorId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiKaldirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiKaldirSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="seciliBirimDegistir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:seciliBirimDegistirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="seciliBirimDegistirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="seciliBirimDegistirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiVer">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciArsivMalzemesiYetkiVerParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiVerParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivMalzemesiId" type="xs:int" />
              <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
              <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiVerResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiVerSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiSil">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinUreticiYetkisiSilParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiSilParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniYetkiId" type="xs:int" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="varlikId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiSilResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinUreticiYetkisiSilSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkileriniListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciArsivMalzemesiYetkileriniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkileriniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" name="referansKodu" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sort" nillable="true" type="tns:sortObject" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
              <xs:element minOccurs="0" name="yetkiTipi" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkileriniListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkileriniListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="arsivMalzemesiId" type="xs:int" />
          <xs:element minOccurs="0" name="degistirme" type="xs:boolean" />
          <xs:element minOccurs="0" name="ekleme" type="xs:boolean" />
          <xs:element minOccurs="0" name="erisimNo" type="xs:string" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="islemiYapanKullanici" type="xs:string" />
          <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
          <xs:element minOccurs="0" name="okuma" type="xs:boolean" />
          <xs:element minOccurs="0" name="referansKodu" type="xs:string" />
          <xs:element minOccurs="0" name="silme" type="xs:boolean" />
          <xs:element minOccurs="0" name="tarih" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMenu">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getMenuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="mainGroup">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:menuGroup" />
          <xs:element minOccurs="0" name="mainGroupName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="items" nillable="true" type="tns:menuItem" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="menuItem">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="name" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciAktiflikGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciAktiflikGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciAktiflikGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="aktif" type="xs:boolean" />
              <xs:element minOccurs="0" name="kullaniciAdi" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciAktiflikGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciAktiflikGuncelleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="logout">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="logoutResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciTercihOku">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="kullaniciTercihOkuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciTercihOkuSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="scanner" type="tns:kullaniciTarayiciTercihModel" />
          <xs:element minOccurs="0" name="themeName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinVeDizinUreticiYetkisiListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:dizinAgacListeleParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="dizinId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="varlikId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinAgacListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:agacListeleParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="agacListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="node" type="xs:string" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinDahil" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="childList" nillable="true" type="tns:kullaniciDizinVeDizinUreticiYetkisiListeleSonuc" />
          <xs:element minOccurs="0" name="degistirme" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element minOccurs="0" name="dizinTreePath" type="tns:pGobject" />
          <xs:element minOccurs="0" name="ekleme" type="xs:boolean" />
          <xs:element minOccurs="0" name="gizlilikDerecesiId" type="xs:int" />
          <xs:element minOccurs="0" name="okuma" type="xs:boolean" />
          <xs:element minOccurs="0" name="silme" type="xs:boolean" />
          <xs:element minOccurs="0" name="sorgulama" type="xs:boolean" />
          <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pGobject">
        <xs:sequence>
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="altBirimDahil" type="xs:boolean" />
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="dizinYetkiList" nillable="true" type="tns:dizinYetkiParametre" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="varlikId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinYetkiParametre">
        <xs:sequence>
          <xs:element minOccurs="0" name="altDizinlerDahil" type="xs:boolean" />
          <xs:element minOccurs="0" name="degistirme" type="xs:boolean" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="ekleme" type="xs:boolean" />
          <xs:element minOccurs="0" name="gizlilikDerecesiId" type="xs:int" />
          <xs:element minOccurs="0" name="okuma" type="xs:boolean" />
          <xs:element minOccurs="0" name="silme" type="xs:boolean" />
          <xs:element minOccurs="0" name="sorgulama" type="xs:boolean" />
          <xs:element minOccurs="0" name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiKaldir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciArsivMalzemesiYetkiKaldirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiKaldirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivMalzemesiId" type="xs:int" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiKaldirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciArsivMalzemesiYetkiKaldirSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciDizinYetkisiEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="altDizinDahil" type="xs:boolean" />
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
              <xs:element minOccurs="0" name="ekleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="gizlilikDerecesiId" type="xs:int" />
              <xs:element minOccurs="0" name="guncelleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="okuyabilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="silebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="varlikId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciDizinYetkisiEkleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:kullaniciKlasorYetkisiGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="ekleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="guncelleyebilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="klasorId" type="xs:int" />
              <xs:element minOccurs="0" name="kullaniciId" type="xs:int" />
              <xs:element minOccurs="0" name="okuyabilir" type="xs:boolean" />
              <xs:element minOccurs="0" name="silebilir" type="xs:boolean" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="kullaniciKlasorYetkisiGuncelleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="objectFactory">
        <xs:sequence />
      </xs:complexType>
      <xs:simpleType name="blokeDurumEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PASIF" />
          <xs:enumeration value="AKTIF" />
          <xs:enumeration value="HEPSI" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="gecerlilikDurumuEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="GECERLI" />
          <xs:enumeration value="SILINMIS" />
          <xs:enumeration value="HEPSI" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="islemTipiEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OKUMA" />
          <xs:enumeration value="EKLEME" />
          <xs:enumeration value="DEGISTIRME" />
          <xs:enumeration value="SILME" />
          <xs:enumeration value="SORGULAMA" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="kullaniciArsivMalzemesiYetkiVerResponse">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkiVerResponse" />
  </wsdl:message>
  <wsdl:message name="getYetkiVermeDurumResponse">
    <wsdl:part name="parameters" element="tns:getYetkiVermeDurumResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="isLoggedInResponse">
    <wsdl:part name="parameters" element="tns:isLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciGiris">
    <wsdl:part name="parameters" element="tns:kullaniciGiris" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiGuncelleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="getUserLoggedIn">
    <wsdl:part name="parameters" element="tns:getUserLoggedIn" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkileriniListele">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkileriniListele" />
  </wsdl:message>
  <wsdl:message name="kullaniciEkle">
    <wsdl:part name="parameters" element="tns:kullaniciEkle" />
  </wsdl:message>
  <wsdl:message name="kullaniciKurumLogoListele">
    <wsdl:part name="parameters" element="tns:kullaniciKurumLogoListele" />
  </wsdl:message>
  <wsdl:message name="kullaniciKurumLogoListeleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciKurumLogoListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciTercihGuncelle">
    <wsdl:part name="parameters" element="tns:kullaniciTercihGuncelle" />
  </wsdl:message>
  <wsdl:message name="kullaniciAktiflikGuncelleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciAktiflikGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="getUserLoggedInResponse">
    <wsdl:part name="parameters" element="tns:getUserLoggedInResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiEkleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiEkleResponse" />
  </wsdl:message>
  <wsdl:message name="dizinYonetimYetkiGuncelle">
    <wsdl:part name="parameters" element="tns:dizinYonetimYetkiGuncelle" />
  </wsdl:message>
  <wsdl:message name="isLoggedIn">
    <wsdl:part name="parameters" element="tns:isLoggedIn" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiKaldirResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiKaldirResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiGuncelle">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiGuncelle" />
  </wsdl:message>
  <wsdl:message name="getYetkiVermeDurum">
    <wsdl:part name="parameters" element="tns:getYetkiVermeDurum" />
  </wsdl:message>
  <wsdl:message name="aksiyonKontrol">
    <wsdl:part name="parameters" element="tns:aksiyonKontrol" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiKaldir">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiKaldir" />
  </wsdl:message>
  <wsdl:message name="temaDegistir">
    <wsdl:part name="parameters" element="tns:temaDegistir" />
  </wsdl:message>
  <wsdl:message name="getMenuResponse">
    <wsdl:part name="parameters" element="tns:getMenuResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiKaldir">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiKaldir" />
  </wsdl:message>
  <wsdl:message name="seciliBirimDegistir">
    <wsdl:part name="parameters" element="tns:seciliBirimDegistir" />
  </wsdl:message>
  <wsdl:message name="logout">
    <wsdl:part name="parameters" element="tns:logout" />
  </wsdl:message>
  <wsdl:message name="kullaniciTercihOku">
    <wsdl:part name="parameters" element="tns:kullaniciTercihOku" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinVeDizinUreticiYetkisiGuncelle">
    <wsdl:part name="parameters" element="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelle" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkileriniListeleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkileriniListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiKaldirResponse">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiKaldirResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkisiEkleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkisiEkleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciArsivMalzemesiYetkiKaldirResponse">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkiKaldirResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiEkle">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiEkle" />
  </wsdl:message>
  <wsdl:message name="kullanicilariListele">
    <wsdl:part name="parameters" element="tns:kullanicilariListele" />
  </wsdl:message>
  <wsdl:message name="dizinYonetimYetkiGuncelleResponse">
    <wsdl:part name="parameters" element="tns:dizinYonetimYetkiGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkisiEkle">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkisiEkle" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiGuncelleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkileriniListeleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkileriniListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciTercihGuncelleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciTercihGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="dizinYetkisiKontrol">
    <wsdl:part name="parameters" element="tns:dizinYetkisiKontrol" />
  </wsdl:message>
  <wsdl:message name="externalKullanicilariListele">
    <wsdl:part name="parameters" element="tns:externalKullanicilariListele" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkileriniListele">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkileriniListele" />
  </wsdl:message>
  <wsdl:message name="dizinYonetimYetkiListele">
    <wsdl:part name="parameters" element="tns:dizinYonetimYetkiListele" />
  </wsdl:message>
  <wsdl:message name="dizinYonetimYetkiListeleResponse">
    <wsdl:part name="parameters" element="tns:dizinYonetimYetkiListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciGirisResponse">
    <wsdl:part name="parameters" element="tns:kullaniciGirisResponse" />
  </wsdl:message>
  <wsdl:message name="dizinYetkiListele">
    <wsdl:part name="parameters" element="tns:dizinYetkiListele" />
  </wsdl:message>
  <wsdl:message name="kullaniciArsivMalzemesiYetkileriniListeleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkileriniListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciTercihOkuResponse">
    <wsdl:part name="parameters" element="tns:kullaniciTercihOkuResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiEkleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiEkleResponse" />
  </wsdl:message>
  <wsdl:message name="logoutResponse">
    <wsdl:part name="parameters" element="tns:logoutResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkisiSilResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkisiSilResponse" />
  </wsdl:message>
  <wsdl:message name="dizinYetkiListeleResponse">
    <wsdl:part name="parameters" element="tns:dizinYetkiListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciArsivMalzemesiYetkiVer">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkiVer" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinUreticiYetkisiSil">
    <wsdl:part name="parameters" element="tns:kullaniciDizinUreticiYetkisiSil" />
  </wsdl:message>
  <wsdl:message name="kullaniciArsivMalzemesiYetkileriniListele">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkileriniListele" />
  </wsdl:message>
  <wsdl:message name="getMenu">
    <wsdl:part name="parameters" element="tns:getMenu" />
  </wsdl:message>
  <wsdl:message name="kullaniciAktiflikGuncelle">
    <wsdl:part name="parameters" element="tns:kullaniciAktiflikGuncelle" />
  </wsdl:message>
  <wsdl:message name="seciliBirimDegistirResponse">
    <wsdl:part name="parameters" element="tns:seciliBirimDegistirResponse" />
  </wsdl:message>
  <wsdl:message name="kullanicilariListeleResponse">
    <wsdl:part name="parameters" element="tns:kullanicilariListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinVeDizinUreticiYetkisiListele">
    <wsdl:part name="parameters" element="tns:kullaniciDizinVeDizinUreticiYetkisiListele" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinVeDizinUreticiYetkisiListeleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciDizinVeDizinUreticiYetkisiListeleResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciArsivMalzemesiYetkiKaldir">
    <wsdl:part name="parameters" element="tns:kullaniciArsivMalzemesiYetkiKaldir" />
  </wsdl:message>
  <wsdl:message name="kullaniciDizinYetkisiEkle">
    <wsdl:part name="parameters" element="tns:kullaniciDizinYetkisiEkle" />
  </wsdl:message>
  <wsdl:message name="aksiyonKontrolResponse">
    <wsdl:part name="parameters" element="tns:aksiyonKontrolResponse" />
  </wsdl:message>
  <wsdl:message name="externalKullanicilariListeleResponse">
    <wsdl:part name="parameters" element="tns:externalKullanicilariListeleResponse" />
  </wsdl:message>
  <wsdl:message name="temaDegistirResponse">
    <wsdl:part name="parameters" element="tns:temaDegistirResponse" />
  </wsdl:message>
  <wsdl:message name="kullaniciKlasorYetkisiGuncelle">
    <wsdl:part name="parameters" element="tns:kullaniciKlasorYetkisiGuncelle" />
  </wsdl:message>
  <wsdl:message name="kullaniciEkleResponse">
    <wsdl:part name="parameters" element="tns:kullaniciEkleResponse" />
  </wsdl:message>
  <wsdl:message name="dizinYetkisiKontrolResponse">
    <wsdl:part name="parameters" element="tns:dizinYetkisiKontrolResponse" />
  </wsdl:message>
  <wsdl:portType name="KullaniciService">
    <wsdl:operation name="kullaniciKlasorYetkisiEkle">
      <wsdl:input name="kullaniciKlasorYetkisiEkle" message="tns:kullaniciKlasorYetkisiEkle" />
      <wsdl:output name="kullaniciKlasorYetkisiEkleResponse" message="tns:kullaniciKlasorYetkisiEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullanicilariListele">
      <wsdl:input name="kullanicilariListele" message="tns:kullanicilariListele" />
      <wsdl:output name="kullanicilariListeleResponse" message="tns:kullanicilariListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkisiEkle">
      <wsdl:input name="kullaniciDizinUreticiYetkisiEkle" message="tns:kullaniciDizinUreticiYetkisiEkle" />
      <wsdl:output name="kullaniciDizinUreticiYetkisiEkleResponse" message="tns:kullaniciDizinUreticiYetkisiEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciGiris">
      <wsdl:input name="kullaniciGiris" message="tns:kullaniciGiris" />
      <wsdl:output name="kullaniciGirisResponse" message="tns:kullaniciGirisResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUserLoggedIn">
      <wsdl:input name="getUserLoggedIn" message="tns:getUserLoggedIn" />
      <wsdl:output name="getUserLoggedInResponse" message="tns:getUserLoggedInResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkileriniListele">
      <wsdl:input name="kullaniciDizinYetkileriniListele" message="tns:kullaniciDizinYetkileriniListele" />
      <wsdl:output name="kullaniciDizinYetkileriniListeleResponse" message="tns:kullaniciDizinYetkileriniListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciEkle">
      <wsdl:input name="kullaniciEkle" message="tns:kullaniciEkle" />
      <wsdl:output name="kullaniciEkleResponse" message="tns:kullaniciEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciKurumLogoListele">
      <wsdl:input name="kullaniciKurumLogoListele" message="tns:kullaniciKurumLogoListele" />
      <wsdl:output name="kullaniciKurumLogoListeleResponse" message="tns:kullaniciKurumLogoListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciTercihGuncelle">
      <wsdl:input name="kullaniciTercihGuncelle" message="tns:kullaniciTercihGuncelle" />
      <wsdl:output name="kullaniciTercihGuncelleResponse" message="tns:kullaniciTercihGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="dizinYetkisiKontrol">
      <wsdl:input name="dizinYetkisiKontrol" message="tns:dizinYetkisiKontrol" />
      <wsdl:output name="dizinYetkisiKontrolResponse" message="tns:dizinYetkisiKontrolResponse" />
    </wsdl:operation>
    <wsdl:operation name="externalKullanicilariListele">
      <wsdl:input name="externalKullanicilariListele" message="tns:externalKullanicilariListele" />
      <wsdl:output name="externalKullanicilariListeleResponse" message="tns:externalKullanicilariListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkileriniListele">
      <wsdl:input name="kullaniciDizinUreticiYetkileriniListele" message="tns:kullaniciDizinUreticiYetkileriniListele" />
      <wsdl:output name="kullaniciDizinUreticiYetkileriniListeleResponse" message="tns:kullaniciDizinUreticiYetkileriniListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="dizinYonetimYetkiListele">
      <wsdl:input name="dizinYonetimYetkiListele" message="tns:dizinYonetimYetkiListele" />
      <wsdl:output name="dizinYonetimYetkiListeleResponse" message="tns:dizinYonetimYetkiListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="dizinYonetimYetkiGuncelle">
      <wsdl:input name="dizinYonetimYetkiGuncelle" message="tns:dizinYonetimYetkiGuncelle" />
      <wsdl:output name="dizinYonetimYetkiGuncelleResponse" message="tns:dizinYonetimYetkiGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <wsdl:input name="isLoggedIn" message="tns:isLoggedIn" />
      <wsdl:output name="isLoggedInResponse" message="tns:isLoggedInResponse" />
    </wsdl:operation>
    <wsdl:operation name="dizinYetkiListele">
      <wsdl:input name="dizinYetkiListele" message="tns:dizinYetkiListele" />
      <wsdl:output name="dizinYetkiListeleResponse" message="tns:dizinYetkiListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiGuncelle">
      <wsdl:input name="kullaniciDizinYetkisiGuncelle" message="tns:kullaniciDizinYetkisiGuncelle" />
      <wsdl:output name="kullaniciDizinYetkisiGuncelleResponse" message="tns:kullaniciDizinYetkisiGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getYetkiVermeDurum">
      <wsdl:input name="getYetkiVermeDurum" message="tns:getYetkiVermeDurum" />
      <wsdl:output name="getYetkiVermeDurumResponse" message="tns:getYetkiVermeDurumResponse" />
    </wsdl:operation>
    <wsdl:operation name="aksiyonKontrol">
      <wsdl:input name="aksiyonKontrol" message="tns:aksiyonKontrol" />
      <wsdl:output name="aksiyonKontrolResponse" message="tns:aksiyonKontrolResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiKaldir">
      <wsdl:input name="kullaniciDizinYetkisiKaldir" message="tns:kullaniciDizinYetkisiKaldir" />
      <wsdl:output name="kullaniciDizinYetkisiKaldirResponse" message="tns:kullaniciDizinYetkisiKaldirResponse" />
    </wsdl:operation>
    <wsdl:operation name="temaDegistir">
      <wsdl:input name="temaDegistir" message="tns:temaDegistir" />
      <wsdl:output name="temaDegistirResponse" message="tns:temaDegistirResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciKlasorYetkisiKaldir">
      <wsdl:input name="kullaniciKlasorYetkisiKaldir" message="tns:kullaniciKlasorYetkisiKaldir" />
      <wsdl:output name="kullaniciKlasorYetkisiKaldirResponse" message="tns:kullaniciKlasorYetkisiKaldirResponse" />
    </wsdl:operation>
    <wsdl:operation name="seciliBirimDegistir">
      <wsdl:input name="seciliBirimDegistir" message="tns:seciliBirimDegistir" />
      <wsdl:output name="seciliBirimDegistirResponse" message="tns:seciliBirimDegistirResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkiVer">
      <wsdl:input name="kullaniciArsivMalzemesiYetkiVer" message="tns:kullaniciArsivMalzemesiYetkiVer" />
      <wsdl:output name="kullaniciArsivMalzemesiYetkiVerResponse" message="tns:kullaniciArsivMalzemesiYetkiVerResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkisiSil">
      <wsdl:input name="kullaniciDizinUreticiYetkisiSil" message="tns:kullaniciDizinUreticiYetkisiSil" />
      <wsdl:output name="kullaniciDizinUreticiYetkisiSilResponse" message="tns:kullaniciDizinUreticiYetkisiSilResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkileriniListele">
      <wsdl:input name="kullaniciArsivMalzemesiYetkileriniListele" message="tns:kullaniciArsivMalzemesiYetkileriniListele" />
      <wsdl:output name="kullaniciArsivMalzemesiYetkileriniListeleResponse" message="tns:kullaniciArsivMalzemesiYetkileriniListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMenu">
      <wsdl:input name="getMenu" message="tns:getMenu" />
      <wsdl:output name="getMenuResponse" message="tns:getMenuResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciAktiflikGuncelle">
      <wsdl:input name="kullaniciAktiflikGuncelle" message="tns:kullaniciAktiflikGuncelle" />
      <wsdl:output name="kullaniciAktiflikGuncelleResponse" message="tns:kullaniciAktiflikGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="logout">
      <wsdl:input name="logout" message="tns:logout" />
      <wsdl:output name="logoutResponse" message="tns:logoutResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciTercihOku">
      <wsdl:input name="kullaniciTercihOku" message="tns:kullaniciTercihOku" />
      <wsdl:output name="kullaniciTercihOkuResponse" message="tns:kullaniciTercihOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinVeDizinUreticiYetkisiListele">
      <wsdl:input name="kullaniciDizinVeDizinUreticiYetkisiListele" message="tns:kullaniciDizinVeDizinUreticiYetkisiListele" />
      <wsdl:output name="kullaniciDizinVeDizinUreticiYetkisiListeleResponse" message="tns:kullaniciDizinVeDizinUreticiYetkisiListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinVeDizinUreticiYetkisiGuncelle">
      <wsdl:input name="kullaniciDizinVeDizinUreticiYetkisiGuncelle" message="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelle" />
      <wsdl:output name="kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse" message="tns:kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkiKaldir">
      <wsdl:input name="kullaniciArsivMalzemesiYetkiKaldir" message="tns:kullaniciArsivMalzemesiYetkiKaldir" />
      <wsdl:output name="kullaniciArsivMalzemesiYetkiKaldirResponse" message="tns:kullaniciArsivMalzemesiYetkiKaldirResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiEkle">
      <wsdl:input name="kullaniciDizinYetkisiEkle" message="tns:kullaniciDizinYetkisiEkle" />
      <wsdl:output name="kullaniciDizinYetkisiEkleResponse" message="tns:kullaniciDizinYetkisiEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="kullaniciKlasorYetkisiGuncelle">
      <wsdl:input name="kullaniciKlasorYetkisiGuncelle" message="tns:kullaniciKlasorYetkisiGuncelle" />
      <wsdl:output name="kullaniciKlasorYetkisiGuncelleResponse" message="tns:kullaniciKlasorYetkisiGuncelleResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KullaniciServiceServiceSoapBinding" type="tns:KullaniciService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="kullanicilariListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullanicilariListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullanicilariListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciKlasorYetkisiEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciKlasorYetkisiEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciKlasorYetkisiEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkisiEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinUreticiYetkisiEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinUreticiYetkisiEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciGiris">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciGiris">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciGirisResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserLoggedIn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getUserLoggedIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getUserLoggedInResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkileriniListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinYetkileriniListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinYetkileriniListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciKurumLogoListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciKurumLogoListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciKurumLogoListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciTercihGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciTercihGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciTercihGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dizinYetkisiKontrol">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dizinYetkisiKontrol">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dizinYetkisiKontrolResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="externalKullanicilariListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="externalKullanicilariListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="externalKullanicilariListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkileriniListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinUreticiYetkileriniListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinUreticiYetkileriniListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dizinYonetimYetkiListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dizinYonetimYetkiListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dizinYonetimYetkiListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dizinYonetimYetkiGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dizinYonetimYetkiGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dizinYonetimYetkiGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isLoggedIn">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="isLoggedIn">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isLoggedInResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dizinYetkiListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dizinYetkiListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dizinYetkiListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinYetkisiGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinYetkisiGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getYetkiVermeDurum">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getYetkiVermeDurum">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getYetkiVermeDurumResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aksiyonKontrol">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="aksiyonKontrol">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="aksiyonKontrolResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiKaldir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinYetkisiKaldir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinYetkisiKaldirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="temaDegistir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="temaDegistir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="temaDegistirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciKlasorYetkisiKaldir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciKlasorYetkisiKaldir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciKlasorYetkisiKaldirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seciliBirimDegistir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="seciliBirimDegistir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="seciliBirimDegistirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkiVer">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciArsivMalzemesiYetkiVer">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciArsivMalzemesiYetkiVerResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinUreticiYetkisiSil">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinUreticiYetkisiSil">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinUreticiYetkisiSilResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkileriniListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciArsivMalzemesiYetkileriniListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciArsivMalzemesiYetkileriniListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMenu">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMenu">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMenuResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciAktiflikGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciAktiflikGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciAktiflikGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="logout">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="logout">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="logoutResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciTercihOku">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciTercihOku">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciTercihOkuResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinVeDizinUreticiYetkisiListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinVeDizinUreticiYetkisiListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinVeDizinUreticiYetkisiListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinVeDizinUreticiYetkisiGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinVeDizinUreticiYetkisiGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinVeDizinUreticiYetkisiGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciArsivMalzemesiYetkiKaldir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciArsivMalzemesiYetkiKaldir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciArsivMalzemesiYetkiKaldirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciDizinYetkisiEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciDizinYetkisiEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciDizinYetkisiEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="kullaniciKlasorYetkisiGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="kullaniciKlasorYetkisiGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="kullaniciKlasorYetkisiGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KullaniciServiceService">
    <wsdl:port name="KullaniciServicePort" binding="tns:KullaniciServiceServiceSoapBinding">
      <soap:address location="http://172.28.1.94:8500/arsivnet_webservice/api/kullaniciyonetimiservicesoap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>