Connected Services/ArsivPlanlamaSvc/ArsivPlanlamaServiceService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.arsivnet.turksat.com.tr/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ArsivPlanlamaServiceService" targetNamespace="http://webservices.arsivnet.turksat.com.tr/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://webservices.arsivnet.turksat.com.tr/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="arsivDiziniBilgileriniSorgula" type="tns:arsivDiziniBilgileriniSorgula" />
      <xs:element name="arsivDiziniBilgileriniSorgulaResponse" type="tns:arsivDiziniBilgileriniSorgulaResponse" />
      <xs:element name="arsivDiziniByArsivPlaniAndRoot" type="tns:arsivDiziniByArsivPlaniAndRoot" />
      <xs:element name="arsivDiziniByArsivPlaniAndRootResponse" type="tns:arsivDiziniByArsivPlaniAndRootResponse" />
      <xs:element name="arsivDiziniCocuklariAra" type="tns:arsivDiziniCocuklariAra" />
      <xs:element name="arsivDiziniCocuklariAraResponse" type="tns:arsivDiziniCocuklariAraResponse" />
      <xs:element name="arsivDiziniCocuklariAraYetkili" type="tns:arsivDiziniCocuklariAraYetkili" />
      <xs:element name="arsivDiziniCocuklariAraYetkiliResponse" type="tns:arsivDiziniCocuklariAraYetkiliResponse" />
      <xs:element name="arsivDiziniCocuklariListele" type="tns:arsivDiziniCocuklariListele" />
      <xs:element name="arsivDiziniCocuklariListeleResponse" type="tns:arsivDiziniCocuklariListeleResponse" />
      <xs:element name="arsivDiziniCocuklariListeleYetkili" type="tns:arsivDiziniCocuklariListeleYetkili" />
      <xs:element name="arsivDiziniCocuklariListeleYetkiliResponse" type="tns:arsivDiziniCocuklariListeleYetkiliResponse" />
      <xs:element name="arsivDiziniEkle" type="tns:arsivDiziniEkle" />
      <xs:element name="arsivDiziniEkleResponse" type="tns:arsivDiziniEkleResponse" />
      <xs:element name="arsivDiziniGuncelle" type="tns:arsivDiziniGuncelle" />
      <xs:element name="arsivDiziniGuncelleResponse" type="tns:arsivDiziniGuncelleResponse" />
      <xs:element name="arsivDiziniKopyala" type="tns:arsivDiziniKopyala" />
      <xs:element name="arsivDiziniKopyalaResponse" type="tns:arsivDiziniKopyalaResponse" />
      <xs:element name="arsivDiziniListele" type="tns:arsivDiziniListele" />
      <xs:element name="arsivDiziniListeleResponse" type="tns:arsivDiziniListeleResponse" />
      <xs:element name="arsivDiziniOku" type="tns:arsivDiziniOku" />
      <xs:element name="arsivDiziniOkuResponse" type="tns:arsivDiziniOkuResponse" />
      <xs:element name="arsivDiziniRootGetir" type="tns:arsivDiziniRootGetir" />
      <xs:element name="arsivDiziniRootGetirResponse" type="tns:arsivDiziniRootGetirResponse" />
      <xs:element name="arsivDiziniRootGetirYetkili" type="tns:arsivDiziniRootGetirYetkili" />
      <xs:element name="arsivDiziniRootGetirYetkiliResponse" type="tns:arsivDiziniRootGetirYetkiliResponse" />
      <xs:element name="arsivDiziniSil" type="tns:arsivDiziniSil" />
      <xs:element name="arsivDiziniSilResponse" type="tns:arsivDiziniSilResponse" />
      <xs:element name="arsivDiziniTasi" type="tns:arsivDiziniTasi" />
      <xs:element name="arsivDiziniTasiResponse" type="tns:arsivDiziniTasiResponse" />
      <xs:element name="arsivPlaniEkle" type="tns:arsivPlaniEkle" />
      <xs:element name="arsivPlaniEkleResponse" type="tns:arsivPlaniEkleResponse" />
      <xs:element name="arsivPlaniGuncelle" type="tns:arsivPlaniGuncelle" />
      <xs:element name="arsivPlaniGuncelleResponse" type="tns:arsivPlaniGuncelleResponse" />
      <xs:element name="arsivPlaniOku" type="tns:arsivPlaniOku" />
      <xs:element name="arsivPlaniOkuResponse" type="tns:arsivPlaniOkuResponse" />
      <xs:element name="arsivPlanlariniListele" type="tns:arsivPlanlariniListele" />
      <xs:element name="arsivPlanlariniListeleResponse" type="tns:arsivPlanlariniListeleResponse" />
      <xs:element name="arsivPlanlariniListeleYetkili" type="tns:arsivPlanlariniListeleYetkili" />
      <xs:element name="arsivPlanlariniListeleYetkiliResponse" type="tns:arsivPlanlariniListeleYetkiliResponse" />
      <xs:element name="dizinIcerikListele" type="tns:dizinIcerikListele" />
      <xs:element name="dizinIcerikListeleResponse" type="tns:dizinIcerikListeleResponse" />
      <xs:element name="helloWord2" type="tns:helloWord2" />
      <xs:element name="helloWord2Response" type="tns:helloWord2Response" />
      <xs:complexType name="arsivDiziniEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="aciklama" type="xs:string" />
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
              <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
              <xs:element minOccurs="0" name="paylasimDurumu" type="tns:paylasimDurumuEnum" />
              <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
              <xs:element minOccurs="0" name="ustveri" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="serviceParameter" abstract="true">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="arsivDiziniEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="serviceResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="detailMessage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dtoList" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="exceptionList" nillable="true" type="tns:exception" />
          <xs:element name="success" type="xs:boolean" />
          <xs:element minOccurs="0" name="title" type="xs:string" />
          <xs:element name="total" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="exception">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:throwable">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="throwable">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stackTrace" nillable="true" type="tns:stackTraceElement" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="stackTraceElement" final="extension restriction">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="arsivDizini">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="children" nillable="true" type="tns:arsivDizini" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element name="expanded" type="xs:boolean" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element name="leaf" type="xs:boolean" />
          <xs:element minOccurs="0" name="paylasimDurumu" type="xs:int" />
          <xs:element name="selectable" type="xs:boolean" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
          <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniOku">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivPlaniOkuParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniOkuParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivPlaniOkuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniOkuSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="donemBaslangicTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="donemBitisTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniBilgileriniSorgula">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniBilgileriSorgulaParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniBilgileriSorgulaParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniBilgileriniSorgulaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniBilgileriSonuc">
        <xs:sequence>
          <xs:element name="dizinCount" type="xs:int" />
          <xs:element name="klasorCount" type="xs:int" />
          <xs:element name="malzemeCount" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDizinleriniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDizinleriniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceNoFilterParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="altDizinSeviyesi" type="tns:altDizinSeviyesiEnum" />
              <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
              <xs:element minOccurs="0" name="dizinId" type="xs:int" />
              <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
              <xs:element minOccurs="0" name="fullPath" type="xs:string" />
              <xs:element minOccurs="0" name="planId" type="xs:int" />
              <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="listServiceNoFilterParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="unbounded" name="sort" nillable="true" type="tns:sortObject" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="sortObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="direction" type="xs:string" />
          <xs:element minOccurs="0" name="property" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniEkle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivPlaniEkleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniEkleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="aciklama" type="xs:string" />
              <xs:element minOccurs="0" name="ad" type="xs:string" />
              <xs:element minOccurs="0" name="bulutKurumId" type="xs:int" />
              <xs:element minOccurs="0" name="donemBaslangicTarihi" type="xs:dateTime" />
              <xs:element minOccurs="0" name="donemBitisTarihi" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivPlaniEkleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniEkleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="aciklama" type="xs:string" />
              <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
              <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="paylasimDurumu" type="tns:paylasimDurumuEnum" />
              <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
              <xs:element minOccurs="0" name="ustveri" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivPlanlariniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="bulutKurumId" type="xs:int" />
              <xs:element minOccurs="0" name="gecerlilikTarihi" type="xs:dateTime" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="listServiceParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceNoFilterParametre">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="filter" nillable="true" type="tns:filterObject" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="filterObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="operator" type="xs:string" />
          <xs:element minOccurs="0" name="property" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
          <xs:element minOccurs="0" name="value2" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlani">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="bulutKurumId" type="xs:int" />
          <xs:element minOccurs="0" name="donemBaslangicTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="donemBitisTarihi" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniGuncelle">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivPlaniGuncelleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlaniGuncelleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="aciklama" type="xs:string" />
              <xs:element minOccurs="0" name="ad" type="xs:string" />
              <xs:element minOccurs="0" name="donemBaslangicTarihi" type="xs:dateTime" />
              <xs:element minOccurs="0" name="donemBitisTarihi" type="xs:dateTime" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivPlaniGuncelleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListeleYetkili">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivPlanlariniListeleYetkiliParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListeleYetkiliParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="ureticiId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivPlanlariniListeleYetkiliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetirYetkili">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniRootGetirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetirParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" name="islemTipi" type="tns:islemTipiEnum" />
              <xs:element minOccurs="0" name="ureticiId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetirYetkiliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetirSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element name="expanded" type="xs:boolean" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element minOccurs="0" name="paylasimDurumu" type="tns:paylasimDurumuEnum" />
          <xs:element name="selectable" type="xs:boolean" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
          <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
          <xs:element name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinIcerikListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:dizinIcerikListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinIcerikListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:listServiceParametre">
            <xs:sequence>
              <xs:element minOccurs="0" name="dizinId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="dizinIcerikListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="dizinIcerikModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="ad" type="xs:string" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="icerikId" type="xs:int" />
          <xs:element minOccurs="0" name="kod" type="xs:string" />
          <xs:element minOccurs="0" name="tipId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="helloWord2">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="helloWord2Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariListeleYetkili">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniCocuklariniListeleYetkiliParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariniListeleYetkiliParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="islemTipi" type="tns:islemTipiEnum" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
              <xs:element minOccurs="0" name="ureticiId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariListeleYetkiliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariAra">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniCocuklariniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariniListeleParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="query" type="xs:string" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariAraResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniByArsivPlaniAndRoot">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniByArsivPlaniAndRootParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniByArsivPlaniAndRootParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" name="id" type="xs:string" />
              <xs:element minOccurs="0" name="limit" type="xs:int" />
              <xs:element minOccurs="0" name="page" type="xs:int" />
              <xs:element minOccurs="0" name="start" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniByArsivPlaniAndRootResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniSil">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniSilParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniSilParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniSilResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniKopyala">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniKopyalaParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniKopyalaParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element name="altDizinlerKopyalansin" type="xs:boolean" />
              <xs:element name="altMalzemelerIliskilendirilsin" type="xs:boolean" />
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
              <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniKopyalaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniTasi">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniTasiParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniTasiParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivDiziniId" type="xs:int" />
              <xs:element minOccurs="0" name="dizininYeniKodu" type="xs:string" />
              <xs:element minOccurs="0" name="yeniUstDizinId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniTasiResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniOku">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniOkuParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniOkuParametre">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:serviceParameter">
            <xs:sequence>
              <xs:element minOccurs="0" name="arsivMalzemesiId" type="xs:int" />
              <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
              <xs:element minOccurs="0" name="arsivPlaniKodu" type="xs:string" />
              <xs:element minOccurs="0" name="id" type="xs:int" />
              <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="arsivDiziniOkuResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniOkuSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element minOccurs="0" name="hiyerarsi" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="konumModel" nillable="true" type="tns:malzemeKonumModel" />
          <xs:element minOccurs="0" name="paylasimDurumu" type="tns:paylasimDurumuEnum" />
          <xs:element minOccurs="0" name="planAdi" type="xs:string" />
          <xs:element minOccurs="0" name="planId" type="xs:int" />
          <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
          <xs:element name="ustveri">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="key" type="xs:string" />
                      <xs:element minOccurs="0" name="value" type="xs:anyType" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="malzemeKonumModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinId" type="xs:int" />
          <xs:element minOccurs="0" name="dizinPath" type="xs:string" />
          <xs:element minOccurs="0" name="klasorAdi" type="xs:string" />
          <xs:element minOccurs="0" name="klasorId" type="xs:int" />
          <xs:element minOccurs="0" name="planAdi" type="xs:string" />
          <xs:element minOccurs="0" name="planId" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetir">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniRootGetirParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniRootGetirResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariListele">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniCocuklariniListeleParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariListeleResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariniListeleSonuc">
        <xs:sequence>
          <xs:element minOccurs="0" name="aciklama" type="xs:string" />
          <xs:element minOccurs="0" name="arsivPlaniId" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="children" nillable="true" type="tns:arsivDizini" />
          <xs:element minOccurs="0" name="dizinAdi" type="xs:string" />
          <xs:element minOccurs="0" name="dizinKodu" type="xs:string" />
          <xs:element name="expanded" type="xs:boolean" />
          <xs:element minOccurs="0" name="gecerlilikBaslangicZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="gecerlilikBitisZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="guncellenmeZamani" type="xs:dateTime" />
          <xs:element minOccurs="0" name="id" type="xs:int" />
          <xs:element name="leaf" type="xs:boolean" />
          <xs:element minOccurs="0" name="paylasimDurumu" type="tns:paylasimDurumuEnum" />
          <xs:element minOccurs="0" name="treePath" type="xs:string" />
          <xs:element minOccurs="0" name="ustDizinId" type="xs:int" />
          <xs:element name="yonetim" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariAraYetkili">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="tns:arsivDiziniCocuklariniListeleYetkiliParametre" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arsivDiziniCocuklariAraYetkiliResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:serviceResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="paylasimDurumuEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PAYLASMA_YOK" />
          <xs:enumeration value="KURUMA_ACIK" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="altDizinSeviyesiEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="HIC" />
          <xs:enumeration value="TUM" />
          <xs:enumeration value="BIR" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="islemTipiEnum">
        <xs:restriction base="xs:string">
          <xs:enumeration value="OKUMA" />
          <xs:enumeration value="EKLEME" />
          <xs:enumeration value="DEGISTIRME" />
          <xs:enumeration value="SILME" />
          <xs:enumeration value="SORGULAMA" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="arsivDiziniEkle">
    <wsdl:part name="parameters" element="tns:arsivDiziniEkle" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniOku">
    <wsdl:part name="parameters" element="tns:arsivPlaniOku" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariListeleYetkiliResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariListeleYetkiliResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariListeleResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariListeleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniTasiResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniTasiResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniOkuResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniOkuResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlanlariniListeleYetkiliResponse">
    <wsdl:part name="parameters" element="tns:arsivPlanlariniListeleYetkiliResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniGuncelle">
    <wsdl:part name="parameters" element="tns:arsivPlaniGuncelle" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniKopyalaResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniKopyalaResponse" />
  </wsdl:message>
  <wsdl:message name="helloWord2">
    <wsdl:part name="parameters" element="tns:helloWord2" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariListeleYetkili">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariListeleYetkili" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniRootGetirResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniRootGetirResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniBilgileriniSorgulaResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniBilgileriniSorgulaResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniKopyala">
    <wsdl:part name="parameters" element="tns:arsivDiziniKopyala" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniTasi">
    <wsdl:part name="parameters" element="tns:arsivDiziniTasi" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniRootGetir">
    <wsdl:part name="parameters" element="tns:arsivDiziniRootGetir" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariListele">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariListele" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariAraYetkili">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariAraYetkili" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniBilgileriniSorgula">
    <wsdl:part name="parameters" element="tns:arsivDiziniBilgileriniSorgula" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniListele">
    <wsdl:part name="parameters" element="tns:arsivDiziniListele" />
  </wsdl:message>
  <wsdl:message name="helloWord2Response">
    <wsdl:part name="parameters" element="tns:helloWord2Response" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniOkuResponse">
    <wsdl:part name="parameters" element="tns:arsivPlaniOkuResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniListeleResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniListeleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniGuncelleResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniByArsivPlaniAndRootResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniByArsivPlaniAndRootResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniEkle">
    <wsdl:part name="parameters" element="tns:arsivPlaniEkle" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniGuncelle">
    <wsdl:part name="parameters" element="tns:arsivDiziniGuncelle" />
  </wsdl:message>
  <wsdl:message name="arsivPlanlariniListele">
    <wsdl:part name="parameters" element="tns:arsivPlanlariniListele" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniSilResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniSilResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniGuncelleResponse">
    <wsdl:part name="parameters" element="tns:arsivPlaniGuncelleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniEkleResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniEkleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlanlariniListeleYetkili">
    <wsdl:part name="parameters" element="tns:arsivPlanlariniListeleYetkili" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniRootGetirYetkiliResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniRootGetirYetkiliResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniRootGetirYetkili">
    <wsdl:part name="parameters" element="tns:arsivDiziniRootGetirYetkili" />
  </wsdl:message>
  <wsdl:message name="dizinIcerikListele">
    <wsdl:part name="parameters" element="tns:dizinIcerikListele" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariAraResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariAraResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariAra">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariAra" />
  </wsdl:message>
  <wsdl:message name="arsivPlanlariniListeleResponse">
    <wsdl:part name="parameters" element="tns:arsivPlanlariniListeleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniByArsivPlaniAndRoot">
    <wsdl:part name="parameters" element="tns:arsivDiziniByArsivPlaniAndRoot" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniSil">
    <wsdl:part name="parameters" element="tns:arsivDiziniSil" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniCocuklariAraYetkiliResponse">
    <wsdl:part name="parameters" element="tns:arsivDiziniCocuklariAraYetkiliResponse" />
  </wsdl:message>
  <wsdl:message name="arsivPlaniEkleResponse">
    <wsdl:part name="parameters" element="tns:arsivPlaniEkleResponse" />
  </wsdl:message>
  <wsdl:message name="arsivDiziniOku">
    <wsdl:part name="parameters" element="tns:arsivDiziniOku" />
  </wsdl:message>
  <wsdl:message name="dizinIcerikListeleResponse">
    <wsdl:part name="parameters" element="tns:dizinIcerikListeleResponse" />
  </wsdl:message>
  <wsdl:portType name="ArsivPlanlamaService">
    <wsdl:operation name="arsivDiziniEkle">
      <wsdl:input name="arsivDiziniEkle" message="tns:arsivDiziniEkle" />
      <wsdl:output name="arsivDiziniEkleResponse" message="tns:arsivDiziniEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivPlaniOku">
      <wsdl:input name="arsivPlaniOku" message="tns:arsivPlaniOku" />
      <wsdl:output name="arsivPlaniOkuResponse" message="tns:arsivPlaniOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniBilgileriniSorgula">
      <wsdl:input name="arsivDiziniBilgileriniSorgula" message="tns:arsivDiziniBilgileriniSorgula" />
      <wsdl:output name="arsivDiziniBilgileriniSorgulaResponse" message="tns:arsivDiziniBilgileriniSorgulaResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniListele">
      <wsdl:input name="arsivDiziniListele" message="tns:arsivDiziniListele" />
      <wsdl:output name="arsivDiziniListeleResponse" message="tns:arsivDiziniListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivPlaniEkle">
      <wsdl:input name="arsivPlaniEkle" message="tns:arsivPlaniEkle" />
      <wsdl:output name="arsivPlaniEkleResponse" message="tns:arsivPlaniEkleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniGuncelle">
      <wsdl:input name="arsivDiziniGuncelle" message="tns:arsivDiziniGuncelle" />
      <wsdl:output name="arsivDiziniGuncelleResponse" message="tns:arsivDiziniGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivPlanlariniListele">
      <wsdl:input name="arsivPlanlariniListele" message="tns:arsivPlanlariniListele" />
      <wsdl:output name="arsivPlanlariniListeleResponse" message="tns:arsivPlanlariniListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivPlaniGuncelle">
      <wsdl:input name="arsivPlaniGuncelle" message="tns:arsivPlaniGuncelle" />
      <wsdl:output name="arsivPlaniGuncelleResponse" message="tns:arsivPlaniGuncelleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivPlanlariniListeleYetkili">
      <wsdl:input name="arsivPlanlariniListeleYetkili" message="tns:arsivPlanlariniListeleYetkili" />
      <wsdl:output name="arsivPlanlariniListeleYetkiliResponse" message="tns:arsivPlanlariniListeleYetkiliResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniRootGetirYetkili">
      <wsdl:input name="arsivDiziniRootGetirYetkili" message="tns:arsivDiziniRootGetirYetkili" />
      <wsdl:output name="arsivDiziniRootGetirYetkiliResponse" message="tns:arsivDiziniRootGetirYetkiliResponse" />
    </wsdl:operation>
    <wsdl:operation name="dizinIcerikListele">
      <wsdl:input name="dizinIcerikListele" message="tns:dizinIcerikListele" />
      <wsdl:output name="dizinIcerikListeleResponse" message="tns:dizinIcerikListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="helloWord2">
      <wsdl:input name="helloWord2" message="tns:helloWord2" />
      <wsdl:output name="helloWord2Response" message="tns:helloWord2Response" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariListeleYetkili">
      <wsdl:input name="arsivDiziniCocuklariListeleYetkili" message="tns:arsivDiziniCocuklariListeleYetkili" />
      <wsdl:output name="arsivDiziniCocuklariListeleYetkiliResponse" message="tns:arsivDiziniCocuklariListeleYetkiliResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariAra">
      <wsdl:input name="arsivDiziniCocuklariAra" message="tns:arsivDiziniCocuklariAra" />
      <wsdl:output name="arsivDiziniCocuklariAraResponse" message="tns:arsivDiziniCocuklariAraResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniByArsivPlaniAndRoot">
      <wsdl:input name="arsivDiziniByArsivPlaniAndRoot" message="tns:arsivDiziniByArsivPlaniAndRoot" />
      <wsdl:output name="arsivDiziniByArsivPlaniAndRootResponse" message="tns:arsivDiziniByArsivPlaniAndRootResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniSil">
      <wsdl:input name="arsivDiziniSil" message="tns:arsivDiziniSil" />
      <wsdl:output name="arsivDiziniSilResponse" message="tns:arsivDiziniSilResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniKopyala">
      <wsdl:input name="arsivDiziniKopyala" message="tns:arsivDiziniKopyala" />
      <wsdl:output name="arsivDiziniKopyalaResponse" message="tns:arsivDiziniKopyalaResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniTasi">
      <wsdl:input name="arsivDiziniTasi" message="tns:arsivDiziniTasi" />
      <wsdl:output name="arsivDiziniTasiResponse" message="tns:arsivDiziniTasiResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniOku">
      <wsdl:input name="arsivDiziniOku" message="tns:arsivDiziniOku" />
      <wsdl:output name="arsivDiziniOkuResponse" message="tns:arsivDiziniOkuResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniRootGetir">
      <wsdl:input name="arsivDiziniRootGetir" message="tns:arsivDiziniRootGetir" />
      <wsdl:output name="arsivDiziniRootGetirResponse" message="tns:arsivDiziniRootGetirResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariListele">
      <wsdl:input name="arsivDiziniCocuklariListele" message="tns:arsivDiziniCocuklariListele" />
      <wsdl:output name="arsivDiziniCocuklariListeleResponse" message="tns:arsivDiziniCocuklariListeleResponse" />
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariAraYetkili">
      <wsdl:input name="arsivDiziniCocuklariAraYetkili" message="tns:arsivDiziniCocuklariAraYetkili" />
      <wsdl:output name="arsivDiziniCocuklariAraYetkiliResponse" message="tns:arsivDiziniCocuklariAraYetkiliResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArsivPlanlamaServiceServiceSoapBinding" type="tns:ArsivPlanlamaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="arsivPlaniOku">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivPlaniOku">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivPlaniOkuResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniBilgileriniSorgula">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniBilgileriniSorgula">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniBilgileriniSorgulaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivPlaniEkle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivPlaniEkle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivPlaniEkleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivPlanlariniListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivPlanlariniListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivPlanlariniListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivPlaniGuncelle">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivPlaniGuncelle">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivPlaniGuncelleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivPlanlariniListeleYetkili">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivPlanlariniListeleYetkili">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivPlanlariniListeleYetkiliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniRootGetirYetkili">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniRootGetirYetkili">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniRootGetirYetkiliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dizinIcerikListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="dizinIcerikListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="dizinIcerikListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloWord2">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="helloWord2">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="helloWord2Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariListeleYetkili">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniCocuklariListeleYetkili">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniCocuklariListeleYetkiliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariAra">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniCocuklariAra">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniCocuklariAraResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniByArsivPlaniAndRoot">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniByArsivPlaniAndRoot">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniByArsivPlaniAndRootResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniSil">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniSil">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniSilResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniKopyala">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniKopyala">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniKopyalaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniTasi">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniTasi">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniTasiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniOku">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniOku">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniOkuResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniRootGetir">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniRootGetir">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniRootGetirResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariListele">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniCocuklariListele">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniCocuklariListeleResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="arsivDiziniCocuklariAraYetkili">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="arsivDiziniCocuklariAraYetkili">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="arsivDiziniCocuklariAraYetkiliResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArsivPlanlamaServiceService">
    <wsdl:port name="ArsivPlanlamaServicePort" binding="tns:ArsivPlanlamaServiceServiceSoapBinding">
      <soap:address location="http://arsivnet.ankara.edu.tr/arsivnet_webservice/api/arsivplanlamaservicesoap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>